{% extends "cms/home.html" %}
{% load cms_tags sekizai_tags i18n %}

{% block content %}
<form action="init/" method="post">
    {% csrf_token %}
    {{ init_form }}
    <input type="submit" value="{% trans 'Init Table' %}">
</form>
<form method="post">
    {% csrf_token %}
    <style type="text/css">
      table {
        display: table;
      }
      table tr {
        display: table-cell;
      }
      table tr td {
        display: block;
        min-height:30px;
      }
    </style>
    <table class="table table-responsive" style="border-collapse: collapse; border-spacing: 0;">
    <tr style="position:sticky;left:0px;"><td style="padding: 0px; background-color:#fbead6;">{% trans 'Competitors\Judges' %}</td>
    {% for field in form %}
      {% if field.name != 'outType' %}
        {% if field.name|first in 'j' %}
        </tr>
          <!-- {% if field.name == 'j0' %}
            </table><table class="table table-responsive" style="border-collapse: collapse; border-spacing: 0;">
          {% endif %} -->
        <tr>
        {% endif %}
        <td style="padding: 0px;">{{ field }}</td>
      {% endif %}
    {% endfor %}  
    {% for col in skating %}
        </tr><tr> 
        {% for row in col %}
        <td style="padding: 0px;min-width:50px;text-align:center;">{{ row }}</td>
        {% endfor %} 
    {% endfor %} 
    </tr></table>
    {{ form.non_field_errors }}
    {{ form.outType.label }}
    {{ form.outType }}
    <input type="submit" value="{% trans 'Get Results' %}">
</form>
{% endblock %}
